{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profit Track</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'search.css' %}" />
  </head>
  <body>
    <header>
      <h2 class="logo">ProfitTrack</h2>
      <form class="search-container" method=POST
      action="{% url 'search'%}">
        {% csrf_token %}
        <input type="text" class="search-input" placeholder="Search Transaction ID" aria-label="Search" name="searched">
        <button class="search-button" type="submit">Search</button>
      </form>
      <nav class="navigation">
        <a href="index">Home</a>
        <a href="about">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="recordtransaction">Record Transaction</a>
      
         
        </div>
      </nav>
    </header>
    {% if searched %}
        <h1>You Searched For {{searched}}</h1>
        <br/>
    {% for recordtransaction in transaction %}
        <a href="{% url 'recordtransaction' %}" class="searched">{{ recordtransaction }} - {{ recordtransaction.customer_name }}</a><br/>
    {% endfor %}
    {% else %}
        <h1>You Forgot To Search Transaction ID</h1>
    {% endif %}
  </body>
</html>
