{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profit Track</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'add_goal.css' %}" />
  </head>
  <body>
    <header>
      <h2 class="logo">ProfitTrack</h2>
      <form class="search-container" method=POST
      action="{% url 'search'%}">
        {% csrf_token %}
        <input type="text" class="search-input" placeholder="Search Transaction ID" aria-label="Search" name="searched">
        <button class="search-button" type="submit">Search</button>
      </form>
      <nav class="navigation">
        <a href="#">Home</a>
        <a href="about">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
        <a href="recordtransaction">Record Transaction</a>
        <div class="logout-dropdown">
          <i class="fas fa-user" id="user-icon" style="color: white"></i>
          <div class="logout-content" id="logout-content">
            <a href="/profile">My Profile</a>
            <a href="/signin">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="add-goal-container">
        <h2>View Financial Goal</h2>

        <p><strong>Name:</strong> {{ goal.name }}</p>
        <p><strong>Type:</strong> {{ goal.goal_type }}</p>
        <p><strong>Target Amount:</strong> ${{ goal.target_amount }}</p>
        <p><strong>Deadline:</strong> {{ goal.deadline }}</p>
        <p><strong>Progress:</strong> {{ goal.progress }}%</p>
     
        <a href="index">Back to Goals</a>
    </div>
    
    <script>
      $(document).ready(function () {
        const logoutIcon = $("#user-icon");
        const logoutContent = $("#logout-content");

        logoutIcon.click(function (e) {
          e.stopPropagation();
          logoutContent.toggleClass("show");
        });

        $(document).click(function (e) {
          if (
            !logoutContent.is(e.target) &&
            logoutContent.has(e.target).length === 0
          ) {
            logoutContent.removeClass("show");
          }
        });
      });
    </script>
  </body>
</html>
