* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;

}
h1 {
    font-size: 30px;
    color: white;
}
h2 {
    font-size: 15px;
    color: white;
}
p {
    font-size: 28px;
    color: white;
}
label{
    color: white;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 5%;
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: rgba(30, 0, 90, 0.7);
}   
.logo {
    font-size: 1.5em;
    color: white;
    user-select: none;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}
.search-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.search-input {
    padding: 10px;
    width: 200px;
    border: none; 
    border-radius: 30px;
    font-size: 16px;
    outline: none; 
  }

.search-button {
    padding: 10px 20px;
    background-color: #440584;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.searched {
    font-size: 1.0em;
    color: white;
    user-select: none;
}
